.hero-banner {
    width: 100%;
    max-width: 100%;
    height: clamp(250px, 50vh, 600px);

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-bottom: 36px;
}

.hero-button {
    background: rgba(225,192,138);
    border: 1px solid #c7a97d;

    padding: 10px 26px;
    margin-bottom: -28px;

    font-family: 'Playfair Display', serif;
    font-size: 18px;

    border-radius: 4px;

    cursor: pointer;

    box-shadow: 0 6px 10px rgba(0,0,0,0.15);

    transition: all 0.25s ease;
}

.hero-button:hover {
    transform: translateY(-2px);
    background: #c9c39c;
}

/* tablet */
@media (max-width: 1025px) {
    .hero-banner {
        /*height: 45vh;*/
    }
}

/* smartphone */
@media (max-width: 768px) {
    .hero-banner {
        /*height: 30vh;*/
    }
}
