body {
  /*padding: 20px;*/
  background-image: url(./assets/images/legno-chiaro-sfondo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
}
.pizzeria-image-container {
  padding: 20px;
}
.pizzeria-image {
  width: 100%;
  height: auto;
}