body {
  /*padding: 20px;*/
  background-image: url(./assets/images/mattoni-sfondo.png);
  background-size: contain;
  background-repeat: repeat;
  font-family: 'Playfair Display', serif;
  padding: 12px 30px 30px;
}